

//need to learn how to tag processes - illumina kmers get normal, while pacbio and ont get normalsr

profiles {

  test {
    process {

      executor = 'pbspro'
      queue = 'express'
      project = 'xl04'
      errorStrategy = 'ignore'
      storage = 'gdata/xl04+gdata/te53+gdata/if89+gdata/tu07+gdata/xy86'
      queueSize = 500
      beforeScript = 'module use -a /g/data/if89/apps/modulefiles && module use -a /g/data/if89/shpcroot/modules && set -ex && export TMPDIR=${PBS_JOBFS}'
      
      withName: alignreads {
        memory = '192GB'
        cpus = '48'
        time = '1:00:00'
        module = 'bwa-mem2:samtools:minimap2'
        disk = '400GB'
      }


    }
  }
}