

//need to learn how to tag processes - illumina kmers get normal, while pacbio and ont get normalsr

profiles {

  NCI {
    process {

      executor = 'pbspro'
      queue = 'normal'
      project = 'xl04'
      errorStrategy = 'ignore'
      storage = 'gdata/xl04+gdata/te53+gdata/if89+gdata/tu07+gdata/xy86'
      queueSize = 500
      beforeScript = 'module use -a /g/data/if89/apps/modulefiles && module use -a /g/data/if89/shpcroot/modules && set -ex && export TMPDIR=${PBS_JOBFS}'
      
      withName: shortreadtrimming {
        memory = '48GB'
        cpus = '12'
        time = '4:00:00'
        module = 'singularity'
        disk = '100GB'
      }

      withName: shortreadstats {
        memory = '48GB'
        cpus = '12'
        time = '2:00:00'
        module = 'fastqc'
        disk = '100GB'
      }

      withName: kmerlongread {
        memory = '1400GB'
        queue = 'hugemem'
        cpus = '48'
        time = '24:00:00'
        module = 'jellyfish/2.3.0:utils/0.0'
        disk = '1400GB'
      }

      withName: kmershortread {
        memory = '512GB'
        queue = 'normalsr'
        cpus = '104'
        time = '12:00:00'
        module = 'jellyfish/2.3.0:utils/0.0'
        disk = '400GB'
      }

      withName: longreadstats {
        memory = '96GB'
        cpus = '24'
        time = '4:00:00'
        module = 'pythonlib'
      }

      withName: hifiasm {
        memory = '512GB'
        queue = 'normalsr'
        cpus = '104'
        time = '24:00:00'
        module = 'hifiasm/0.25.0:gfatools/0.5:bwa/0.7.17:samtools'
        disk = '400GB'
      }


    }
  }


  test {
    process {

      executor = 'pbspro'
      queue = 'express'
      project = 'xl04'
      errorStrategy = 'ignore'
      storage = 'gdata/xl04+gdata/te53+gdata/if89+gdata/tu07+gdata/xy86'
      queueSize = 500
      beforeScript = 'module use -a /g/data/if89/apps/modulefiles && module use -a /g/data/if89/shpcroot/modules && set -ex && export TMPDIR=${PBS_JOBFS}'
      
      withName: shortreadtrimming {
        memory = '48GB'
        cpus = '12'
        time = '1:00:00'
        module = 'singularity'
        disk = '100GB'
      }

      withName: shortreadstats {
        memory = '48GB'
        cpus = '12'
        time = '1:00:00'
        module = 'fastqc/0.12.1'
        disk = '100GB'
      }

      withName: kmerlongread {
        memory = '192GB'
        cpus = '48'
        time = '1:00:00'
        module = 'jellyfish/2.3.0:utils/0.0'
        disk = '400GB'
      }

      withName: kmershortread {
        memory = '192GB'
        cpus = '48'
        time = '1:00:00'
        module = 'jellyfish/2.3.0:utils/0.0'
        disk = '400GB'
      }

      withName: longreadstats {
        memory = '96GB'
        cpus = '24'
        time = '1:00:00'
        module = 'pythonlib/3.9.2'
      }

      withName: hifiasm {
        memory = '192GB'
        cpus = '48'
        time = '1:00:00'
        module = 'hifiasm/0.25.0:gfatools/0.5'
        disk = '400GB'
      }


    }
  }
}