params.ontmetadata = "/g/data/xl04/ka6418/ausargassembly/testcohorts/downloadandprepare/ont/ont.csv"
params.pbmetadata = "/g/data/xl04/ka6418/ausargassembly/testcohorts/downloadandprepare/pb/pb.csv"
params.dnaseqmetadata = "/g/data/xl04/ka6418/ausargassembly/testdata/downloadandprepare/dnaseqmetadata.csv"
params.hicmetadata = "/g/data/xl04/ka6418/ausargassembly/testdata/downloadandprepare/hicmetadata.csv"
params.bpadata = "/g/data/xl04/ka6418/ausargassembly/bpadata"
params.chunks = 10


profiles {

  NCI {
    process {

      executor = 'pbspro'
      queue = 'express'
      project = 'xl04'
      storage = 'gdata/xl04+gdata/te53+gdata/if89+gdata/tu07+gdata/xy86'
      queueSize = 500
      beforeScript = 'module use -a /g/data/if89/apps/modulefiles && module use -a /g/data/if89/shpcroot/modules && set -ex'
      
      withName: pbindex {
        memory = '192GB'
        cpus = '48'
        time = '0:20:00'
        module = 'singularity:google/deepconsensus/1.2.0-gpu'
      }

      withName: ccs {
        memory = '192GB'
        cpus = '48'
        time = '1:00:00'
        module = 'singularity:google/deepconsensus/1.2.0-gpu'
      }

      withName: actc {
        memory = '192GB'
        cpus = '48'
        time = '1:00:00'
        module = 'singularity:google/deepconsensus/1.2.0-gpu'
      }

      withName: deepconsensus {
        memory = '192GB'
        cpus = '48'
        time = '1:00:00'
        module = 'singularity:google/deepconsensus/1.2.0-gpu'
      }

      withName: concatFastq {
        memory = '64GB'
        cpus = '16'
        time = '1:00:00'
        module = 'htslib/1.20'
      }

      withName: pacbioadaptertrim {
        memory = '64GB'
        cpus = '16'
        time = '1:00:00'
        module = 'singularity:cutadapt/3.7'
      }

      withName : fast52blow5 {
        memory = '64GB'
        cpus = '16'
        time = '1:00:00'
        disk = '100GB'
        module = 'slow5tools'
      }

      withName: ontbasecall {
        queue = 'gpuvolta'
        time = '10.m'
        clusterOptions = '-W umask=017 -l ncpus=12,mem=96GB,ngpus=1,storage=gdata/xl04+gdata/if89+gdata/te53'
      }


    }

  }
}