
profiles {

  NCI {
    process {

      executor = 'pbspro'
      queue = 'normal'
      project = 'xl04'
      errorStrategy = 'ignore'
      storage = 'gdata/xl04+gdata/te53+gdata/if89+gdata/tu07+gdata/xy86'
      queueSize = 500
      beforeScript = 'module use -a /g/data/if89/apps/modulefiles && module use -a /g/data/if89/shpcroot/modules && set -ex && export TMPDIR=${PBS_JOBFS}'
      
      withName: pbindex {
        memory = '192GB'
        cpus = '48'
        time = '24:00:00'
        module = 'singularity:google/deepconsensus/1.2.0-gpu'
        disk = '400GB'
      }

      withName: ccs {
        memory = '192GB'
        cpus = '48'
        time = '24:00:00'
        module = 'singularity:google/deepconsensus/1.2.0-gpu'
        disk = '400GB'
      }

      withName: actc {
        memory = '192GB'
        cpus = '48'
        time = '24:00:00'
        module = 'singularity:google/deepconsensus/1.2.0-gpu'
        disk = '400GB'
      }

      withName: deepconsensus {
        memory = '96GB'
        cpus = '24'
        time = '48:00:00'
        module = 'singularity:google/deepconsensus/1.2.0-gpu'
        disk = '200GB'
      }

      withName: concatFastq {
        memory = '64GB'
        cpus = '16'
        time = '1:00:00'
        module = 'htslib/1.20'
      }

      withName: pacbioadaptertrim {
        memory = '64GB'
        cpus = '16'
        time = '4:00:00'
        module = 'singularity:cutadapt/3.7'
      }

      withName : fast52blow5 {
        memory = '192GB'
        cpus = '48'
        time = '24:00:00'
        module = 'slow5tools'
        clusterOptions = '-W umask=017 -l ncpus=48,mem=192GB,iointensive=2,storage=gdata/xl04+gdata/if89+gdata/te53'
      }

      withName: ontbasecall {
        queue = 'gpuvolta'
        time = '24.h'
        clusterOptions = '-W umask=017 -l ncpus=48,mem=384GB,ngpus=4,storage=gdata/xl04+gdata/if89+gdata/te53'
      }

      withName: bpadownload_ont {
        queue = 'copyq'
        time = '10.h'
        clusterOptions = ' -W umask=017 -l ncpus=1,mem=4GB,storage=gdata/xl04+gdata/if89+gdata/te53'
      }

      withName: bpadownload_pb {
        queue = 'copyq'
        time = '10.h'
        clusterOptions = ' -W umask=017 -l ncpus=1,mem=4GB,storage=gdata/xl04+gdata/if89+gdata/te53'
      }

      withName:  bpadownload_hic{
        queue = 'copyq'
        time = '10.h'
        clusterOptions = ' -W umask=017 -l ncpus=1,mem=4GB,storage=gdata/xl04+gdata/if89+gdata/te53'
      }


    }

  }
}