profiles {


    production {
    process {

      executor = 'pbspro'
      queue = 'normal'
      project = 'xl04'
      errorStrategy = 'ignore'
      storage = 'gdata/xl04+gdata/te53+gdata/if89+gdata/tu07+gdata/xy86'
      queueSize = 500
      beforeScript = 'module use -a /g/data/if89/apps/modulefiles && module use -a /g/data/if89/shpcroot/modules && set -ex && export TMPDIR=${PBS_JOBFS}'
      
       withName: contighicmap {
        memory = '192GB'
        cpus = '48'
        time = '48:00:00'
        disk = '400GB'
        clusterOptions = '-W umask=017 -l ncpus=48,mem=192GB,iointensive=1,jobfs=400GB,storage=gdata/xl04+gdata/if89+gdata/te53'
      }

      withName: hicmapping {
        memory = '192GB'
        cpus = '48'
        time = '24:00:00'
        disk = '400GB'
        clusterOptions = '-W umask=017 -l ncpus=48,mem=192GB,iointensive=1,jobfs=400GB,storage=gdata/xl04+gdata/if89+gdata/te53'
      }

      withName: contigtoscaffold {
        memory = '192GB'
        cpus = '48'
        time = '3:00:00'
        disk = '400GB'
        module = 'bwa/0.7.17'
      }

      withName: scaffoldhicmap {
        memory = '192GB'
        cpus = '48'
        time = '24:00:00'
        disk = '400GB'
      }


      withName: alignreads_scaf {
        memory = '192GB'
        cpus = '48'
        time = '24:00:00'
        module = 'bwa:samtools/1.22:minimap2/2.28'
        disk = '400GB'
        clusterOptions = '-W umask=017 -l ncpus=48,mem=192GB,iointensive=1,jobfs=400GB,storage=gdata/xl04+gdata/if89+gdata/te53'
      }

      withName: bamdepth_scaf {
        memory = '192GB'
        cpus = '48'
        time = '3:00:00'
        module = 'bwa:samtools/1.22:minimap2/2.28'
        disk = '400GB'
      }

      withName: inspector_scaf {
        memory = '192GB'
        cpus = '48'
        time = '48:00:00'
        module = 'singularity:quay.io/biocontainers/inspector/1.3.1--hdfd78af_1'
        disk = '400GB'
      }

      withName: merqury_scaf {
        memory = '192GB'
        cpus = '48'
        time = '24:00:00'
        module = 'meryl/1.4.1:merqury/1.3'
        disk = '400GB'
      }

      withName: gaps_scaf {
        memory = '16GB'
        cpus = '4'
        time = '0:30:00'
        module = 'pythonlib/3.9.2'
      }

      withName: busco_scaf {
        memory = '192GB'
        cpus = '48'
        time = '10:00:00'
        disk = '400GB'
      }

      withName: gc_scaf {
        memory = '16GB'
        cpus = '4'
        time = '0:30:00'
        module = 'pythonlib/3.9.2'
      }

      withName: srf_scaf {
        memory = '192GB'
        cpus = '48'
        time = '2:00:00'
        disk = '400GB'
      }

      withName: asmtable_scaf {
        memory = '16GB'
        cpus = '4'
        time = '0:30:00'
        module = 'pythonlib/3.9.2'

      }

      withName: seqtable_scaf {
        memory = '16GB'
        cpus = '4'
        time = '0:30:00'
        module = 'pythonlib/3.9.2'

      }

      withName: univec_scaf {
        memory = '16GB'
        cpus = '4'
        time = '0:30:00'
        module = 'blast/2.14.1'

      }

      withName: telomeres_scaf {
        memory = '192GB'
        cpus = '48'
        time = '6:00:00'
        disk = '400GB'

      }

      
      
    }
  }



  test {
    process {

      executor = 'pbspro'
      queue = 'normal'
      project = 'xl04'
      errorStrategy = 'ignore'
      storage = 'gdata/xl04+gdata/te53+gdata/if89+gdata/tu07+gdata/xy86'
      queueSize = 500
      beforeScript = 'module use -a /g/data/if89/apps/modulefiles && module use -a /g/data/if89/shpcroot/modules && set -ex && export TMPDIR=${PBS_JOBFS}'
      
       withName: contighicmap {
        memory = '192GB'
        cpus = '48'
        time = '1:00:00'
        disk = '400GB'
        clusterOptions = '-W umask=017 -l ncpus=48,mem=192GB,iointensive=1,jobfs=400GB,storage=gdata/xl04+gdata/if89+gdata/te53'
      }

      withName: hicmapping {
        memory = '192GB'
        cpus = '48'
        time = '1:00:00'
        disk = '400GB'
        clusterOptions = '-W umask=017 -l ncpus=48,mem=192GB,iointensive=1,jobfs=400GB,storage=gdata/xl04+gdata/if89+gdata/te53'
      }

      withName: contigtoscaffold {
        memory = '32GB'
        cpus = '8'
        time = '1:00:00'
        disk = '100GB'
      }

      withName: scaffoldhicmap {
        memory = '192GB'
        cpus = '48'
        time = '1:00:00'
        disk = '400GB'
      }


      withName: alignreads_scaf {
        memory = '192GB'
        cpus = '48'
        time = '1:00:00'
        module = 'bwa:samtools/1.22:minimap2/2.28'
        disk = '400GB'
      }

      withName: bamdepth_scaf {
        memory = '192GB'
        cpus = '48'
        time = '1:00:00'
        module = 'bwa:samtools/1.22:minimap2/2.28'
        disk = '400GB'
      }

      withName: inspector_scaf {
        memory = '192GB'
        cpus = '48'
        time = '1:00:00'
        module = 'singularity:quay.io/biocontainers/inspector/1.3.1--hdfd78af_1'
        disk = '400GB'
      }

      withName: merqury_scaf {
        memory = '192GB'
        cpus = '48'
        time = '1:00:00'
        module = 'meryl/1.4.1:merqury/1.3'
        disk = '400GB'
      }

      withName: gaps_scaf {
        memory = '192GB'
        cpus = '48'
        time = '0:10:00'
        module = 'pythonlib/3.9.2'
        disk = '400GB'
      }

      withName: busco_scaf {
        memory = '192GB'
        cpus = '48'
        time = '1:00:00'
        disk = '400GB'
      }

      withName: gc_scaf {
        memory = '192GB'
        cpus = '48'
        time = '0:10:00'
        module = 'pythonlib/3.9.2'
        disk = '400GB'
      }

      withName: srf_scaf {
        memory = '192GB'
        cpus = '48'
        time = '0:10:00'
        disk = '400GB'
      }

      withName: asmtable_scaf {
        memory = '192GB'
        cpus = '48'
        time = '0:10:00'
        disk = '400GB'
        module = 'pythonlib/3.9.2'

      }

      withName: seqtable_scaf {
        memory = '192GB'
        cpus = '48'
        time = '0:10:00'
        disk = '400GB'
        module = 'pythonlib/3.9.2'

      }
      
      
    }
  }
}